scripts/cross_sections.ipynb
scripts/inter.ipynb
scripts/langmuir2.ipynb
scripts/lecroydaq.py
scripts/mach2.ipynb
scripts/op.ipynb
scripts/rates_H.ipynb
scripts/rates_He.ipynb
scripts/rk4.ipynb
scripts/sept2024inter.ipynb
scripts/sim_He_high_puff.ipynb
scripts/sim_He_med_puff.ipynb
scripts/sim.ipynb
scripts/sim3.ipynb
scripts/test_sim3.ipynb
data/18_p23_sweep_xline_800G_105Vpuff_HiC.hdf5
data/24_p36_sweep_xline_800G_105Vpuff_LowC.hdf5
data/25_p23_sweep_xline_800G_105Vpuff_LowC.hdf5
data/isat_decay.npz
data/light.txt
data/p23_mach_4_filt.npz
data/p23_mach_4.npz
data/p23_sweep_4_pp2.npz
data/p23raw.npz
data/p36_mach_4_filt.npz
data/p36_mach_4.npz
data/p36_sweep_4_pp2.npz
plots/crates.png
plots/D:/sept2024/plots/ne_te_center_4.png
plots/D:/sept2024/plots/ne_te_center_4.svg
plots/isat_decay.pdf
plots/isat_decay2.pdf
plots/light_signal.svg
plots/ne_te_center_4.png
plots/ne_te_center_4.svg
plots/ne_twin_4e13_120V_4500A_250.png
plots/opcon_power_ncool.png
plots/opcon_power_ncool.svg
plots/opcon_power.svg
plots/simulation_results_hb.svg
plots/simulation_results_isat.svg
plots/simulation_results_ne.svg
plots/simulation_results_te.svg
plots/simulation_results.svg
plots/simulation_results2.svg
plots/tau_He_1e12.png
plots/tau_He_1e13.png
plots/total_power_1e12.png
plots/total_power_1e12.svg
plots/total_power_1e13_H.png
plots/total_power_1e13.png
plots/total_power_1e13.svg
plots/D:/sept2024/plots/ne_te_center_4.png
plots/D:/sept2024/plots/ne_te_center_4.svg
