scripts/data/*
scripts/plots/*
scripts/inter.ipynb
scripts/cross_sections.ipynb
scripts/langmuir2.ipynb
.gitignore
scripts/lecroydaq.py
scripts/mach2.ipynb
scripts/op.ipynb
scripts/rates_H.ipynb
scripts/rates_He.ipynb
scripts/rk4.ipynb
scripts/sept2024inter.ipynb
scripts/sim_He_high_puff.ipynb
scripts/sim_He_med_puff.ipynb
scripts/sim.ipynb
scripts/sim3.ipynb
